@import "../../../assets/scss/reboot";
.#{$ns}-card {
    height: 100%;
    @include rem(box-shadow, 0 0 8px 0 colour(nt-light, shade));
    @include rem(border-radius, 5px);
    display: block;

    &__background {
        width: 100%;
        @include rem(height, 200px);
        @include rem(padding, 16px);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__container {
        @include rem(padding, 16px);
        height: calc(100% - 200px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: cover;
    }
}
