<div class="card" (click)="selectedArticle(news)">
    <div class="card-container">
        <div class="card-image" [ngStyle]="{backgroundImage: 'url(' + news.urlToImage + ')'}"></div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{news.title}}</h5>
        <p class="card-text" *ngIf="news.description">{{news.description.substring(0,50)}}...</p>
        <p class="card-text" *ngIf="!news.description && news.content">{{news.content.substring(0,50)}}...</p>
    </div>
</div>