<header class="nt-header">
    <nav class="nt-header__container">
        <a class="nt-header__brand" [routerLink]="['/']">NewsTime</a>
        <button class="nt-header__button" type="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="nt-header__nav">
            <ul class="nt-header__list">
                <li class="nt-header__list-item"><a href="#" class="nt-header__list-link">Test</a></li>
            </ul>
        </div>
    </nav>
</header>