<div class="container px-0 py-5">
    <mat-tab-group (selectedTabChange)="getNewsByCategory($event)">
        <mat-tab label="Latest">
            <div class="container pt-3" *ngIf="data.featured">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex py-3" *ngFor="let topHeadline of data.featured | paginate: { itemsPerPage: 9, currentPage: latestPage, id: 'apiLatest' }">
                        <app-card [news]="topHeadline"></app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination-template id="apiLatest" #apiLatest="paginationApi" class="nt-paginate" (pageChange)="latestPage = $event">
                            <div class="nt-paginate__previous" [class.disabled]="apiLatest.isFirstPage()">
                                <a (click)="apiLatest.previous()">&lt;&lt;&nbsp;Previous</a>
                            </div>
                            <div class="nt-paginate__next" [class.disabled]="apiLatest.isLastPage()">
                                <a (click)="apiLatest.next()">Next&nbsp;&gt;&gt;</a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Business">
            <div class="container pt-3" *ngIf="data.business">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex py-3" *ngFor="let news of data.business | paginate: { itemsPerPage: 9, currentPage: businessPage, id: 'apiBusiness' }">
                        <app-card [news]="news"></app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination-template id="apiBusiness" #apiBusiness="paginationApi" class="nt-paginate" (pageChange)="businessPage = $event">
                            <div class="nt-paginate__previous" [class.disabled]="apiBusiness.isFirstPage()">
                                <a (click)="apiBusiness.previous()">&lt;&lt;&nbsp;Previous</a>
                            </div>
                            <div class="nt-paginate__next" [class.disabled]="apiBusiness.isLastPage()">
                                <a (click)="apiBusiness.next()">Next&nbsp;&gt;&gt;</a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Entertainment">
            <div class="container pt-3" *ngIf="data.entertainment">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex py-3" *ngFor="let news of data.entertainment | paginate: { itemsPerPage: 9, currentPage: entertainmentPage, id: 'apiEntertainment' }">
                        <app-card [news]="news"></app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination-template id="apiEntertainment" #apiEntertainment="paginationApi" class="nt-paginate" (pageChange)="entertainmentPage = $event">
                            <div class="nt-paginate__previous" [class.disabled]="apiEntertainment.isFirstPage()">
                                <a (click)="apiEntertainment.previous()">&lt;&lt;&nbsp;Previous</a>
                            </div>
                            <div class="nt-paginate__next" [class.disabled]="apiEntertainment.isLastPage()">
                                <a (click)="apiEntertainment.next()">Next&nbsp;&gt;&gt;</a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Health">
            <div class="container pt-3" *ngIf="data.health">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex py-3" *ngFor="let news of data.health | paginate: { itemsPerPage: 9, currentPage: healthPage, id: 'apiHealth' }">
                        <app-card [news]="news"></app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination-template id="apiHealth" #apiHealth="paginationApi" class="nt-paginate" (pageChange)="healthPage = $event">
                            <div class="nt-paginate__previous" [class.disabled]="apiHealth.isFirstPage()">
                                <a (click)="apiHealth.previous()">&lt;&lt;&nbsp;Previous</a>
                            </div>
                            <div class="nt-paginate__next" [class.disabled]="apiHealth.isLastPage()">
                                <a (click)="apiHealth.next()">Next&nbsp;&gt;&gt;</a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Science">
            <div class="container pt-3" *ngIf="data.science">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex py-3" *ngFor="let news of data.science | paginate: { itemsPerPage: 9, currentPage: sciencePage, id: 'apiScience' }">
                        <app-card [news]="news"></app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination-template id="apiScience" #apiScience="paginationApi" class="nt-paginate" (pageChange)="sciencePage = $event">
                            <div class="nt-paginate__previous" [class.disabled]="apiScience.isFirstPage()">
                                <a (click)="apiScience.previous()">&lt;&lt;&nbsp;Previous</a>
                            </div>
                            <div class="nt-paginate__next" [class.disabled]="apiScience.isLastPage()">
                                <a (click)="apiScience.next()">Next&nbsp;&gt;&gt;</a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Sports">
            <div class="container pt-3" *ngIf="data.sports">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex py-3" *ngFor="let news of data.sports | paginate: { itemsPerPage: 9, currentPage: sportsPage, id: 'apiSports' }">
                        <app-card [news]="news"></app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination-template id="apiSports" #apiSports="paginationApi" class="nt-paginate" (pageChange)="sportsPage = $event">
                            <div class="nt-paginate__previous" [class.disabled]="apiSports.isFirstPage()">
                                <a (click)="apiSports.previous()">&lt;&lt;&nbsp;Previous</a>
                            </div>
                            <div class="nt-paginate__next" [class.disabled]="apiSports.isLastPage()">
                                <a (click)="apiSports.next()">Next&nbsp;&gt;&gt;</a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Technology">
            <div class="container pt-3" *ngIf="data.technology">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex py-3" *ngFor="let news of data.technology | paginate: { itemsPerPage: 9, currentPage: technologyPage, id: 'apiTech' }">
                        <app-card [news]="news"></app-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <pagination-template id="apiTech" #apiTech="paginationApi" class="nt-paginate" (pageChange)="technologyPage = $event">
                            <div class="nt-paginate__previous" [class.disabled]="apiTech.isFirstPage()">
                                <a (click)="apiTech.previous()">&lt;&lt;&nbsp;Previous</a>
                            </div>
                            <div class="nt-paginate__next" [class.disabled]="apiTech.isLastPage()">
                                <a (click)="apiTech.next()">Next&nbsp;&gt;&gt;</a>
                            </div>
                        </pagination-template>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>