<div class="container">
    <mat-tab-group>
        <mat-tab label="Latest">
            <div class="container" *ngIf="topHeadlines">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex py-3" *ngFor="let topHeadline of topHeadlines">
                        <app-card [topHeadline]="topHeadline"></app-card>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Business">
            <h1>Some more tab content</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Entertainment">
            <h1>Some more tab content</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Health">
            <h1>Some more tab content</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Science">
            <h1>Some more tab content</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Sports">
            <h1>Some more tab content</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Technology">
            <h1>Some more tab content</h1>
            <p>...</p>
        </mat-tab>
    </mat-tab-group>
</div>