<div class="nt-infobox">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex align-items-center">
                <div class="nt-infobox__background">
                    <a [href]="result.url" target="_blank" [attr.aria-label]="result.title">
                        <div class="nt-infobox__image" *ngIf="result.urlToImage" [ngStyle]="{backgroundImage: 'url(' + result.urlToImage + ')'}"></div>
                        <div class="nt-infobox__gradient" *ngIf="!result.urlToImage" aria-label="result.title">
                            <h1 class="nt-infobox__gradient-text">NewsTime</h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h1><a [href]="result.url" target="_blank">{{result.title}}</a></h1>
                <p *ngIf="result.content">{{result.content.substring(0,257)}}...</p>
                <p *ngIf="!result.content && result.description">{{result.description.substring(0,257)}}...</p>
                <span>{{result.publishedAt | date }}</span>
            </div>
        </div>
    </div>
</div>